.unit-homepage-best-sellers {
  width: 100%;
  height: 727px;
  display: flex;
  flex-direction: column;
  padding: 100px 0px 100px 0px;
  background: #f9fbff;
  gap: 40px;
}

.unit-homepage-best-sellers .title {
  color: #052b66;
  font-family: "Noto Serif";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 114.286% */
  padding-left: 70px;
}

.product-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
  overflow-x: auto;
}

.product-list::-webkit-scrollbar {
  display: none;
}

.product-card {
  position: relative;
  display: flex;
  width: 285px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
}

.product-card:first-child {
  margin-left: 70px;
}
.product-card:last-child {
  margin-right: 70px;
}

.discount-tag {
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 2px;
  background: #e6584e;
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.product-image-card {
  width: 285px;
  height: 285px;
  border-radius: 12px;
  border: 1px solid #e6edf3;
  background: #fff;
  padding: 4px;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-description {
  display: flex;
  width: 285px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.product-title {
  color: #374d71;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.price {
  color: #374d71;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.discounted-original-price {
  color: #708699;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: line-through;
}

.original-price {
  color: #374d71;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sale-price {
  color: #e6584e;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.luxury-badge {
  border-radius: 2px;
  border: 1px solid #9dc9eb;
  background: #c5e6ff;
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: #374d71;

  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bamboo-badge {
  border-radius: 2px;
  border: 1px solid #8ccfa6;
  background: #bfeed1;

  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 3px;

  color: #336647;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.everyday-badge {
  border-radius: 2px;
  border: 1px solid #d9cfb4;
  background: #fff3d2;

  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 3px;

  color: #6b674e;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.rating {
  margin: 8px 0;
}

.stars {
  color: gold;
}

.reviews {
  color: #829cb2;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.color-options {
  display: flex;
  justify-content: center;
  gap: 8px;
  color: #374d71;
  align-items: center;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.color {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 2px;
  border: 1px solid #e6edf3;
  cursor: pointer;
}

.color.active {
  border-radius: 50px;
  border: 1px solid #052b66;
  display: flex;
  width: 20px;
  height: 20px;
  padding: 2px;
  justify-content: center;
  align-items: center;
}
