.unit-homepage-best-sellers {
  width: 100%;
  height: 727px;
  display: flex;
  flex-direction: column;
  padding: 100px 0px;
  background: #f9fbff;
  gap: 40px;

  @media (max-width: 768px) {
    padding: 40px 0px;
    gap: 20px;
  }
}

.best-sellers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;

  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
}

.unit-homepage-best-sellers .title {
  color: #052b66;
  font-family: "Noto Serif";
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;

  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 28px;
  }
}

.scroll-buttons {
  display: flex;
  gap: 10px;

  @media (max-width: 768px) {
    display: none;
  }
}

.scroll-button {
  background: #052b66;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.product-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
  overflow-x: auto;
}

.product-list::-webkit-scrollbar {
  display: none;
}

.product-card {
  position: relative;
  display: flex;
  width: 285px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
}

.product-card:first-child {
  margin-left: 70px;
}
.product-card:last-child {
  margin-right: 70px;
}

.discount-tag {
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 2px;
  background: #e6584e;
  display: flex;
  padding: 4px 8px;
  color: #fff;
  font-family: Inter;
  font-size: 11px;
  font-weight: 600;
}

.product-image-card {
  width: 285px;
  height: 285px;
  border-radius: 12px;
  border: 1px solid #e6edf3;
  background: #fff;
  padding: 4px;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-description {
  display: flex;
  width: 285px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.product-title {
  color: #374d71;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
}

.price {
  color: #374d71;
  font-family: Inter;
  font-size: 14px;
}

.discounted-original-price {
  color: #708699;
  font-family: Inter;
  font-size: 14px;
  text-decoration-line: line-through;
}

.original-price {
  color: #374d71;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
}

.sale-price {
  color: #e6584e;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
}

.luxury-badge,
.bamboo-badge,
.everyday-badge {
  border-radius: 2px;
  display: flex;
  padding: 4px 8px;
  gap: 3px;
  font-family: Inter;
  font-size: 11px;
  font-weight: 600;
}

.luxury-badge {
  border: 1px solid #9dc9eb;
  background: #c5e6ff;
  color: #374d71;
}

.bamboo-badge {
  border: 1px solid #8ccfa6;
  background: #bfeed1;
  color: #336647;
}

.everyday-badge {
  border: 1px solid #d9cfb4;
  background: #fff3d2;
  color: #6b674e;
}

.stars {
  color: gold;
}

.reviews {
  color: #829cb2;
  font-family: Inter;
  font-size: 14px;
}

.color-options {
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: Inter;
  font-size: 14px;
}

.color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid #e6edf3;
  cursor: pointer;
}

.color.active {
  border: 1px solid #000;
}

@media (max-width: 768px) {
  .product-card:first-child {
    margin-left: 20px;
  }
  .product-card:last-child {
    margin-right: 20px;
  }
}
