.unit-homepage-feedback {
  width: 100%;
  height: 727px;
  display: flex;
  flex-direction: column;
  padding: 100px 0px;
  background-color: #f5f9fc;
  gap: 20px;

  @media (max-width: 768px) {
    padding: 40px 0px;
  }
}
.feedback-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  height: 500px;
  width: 340px;
  position: relative;
  margin: 0 15px;
  border-radius: 12px;
  border: 1px solid #e6edf3;
  background: #fff;

  @media (max-width: 768px) {
    width: 260px;
    height: 407.598px;
  }
}

.feedback-card-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;
  padding: 40px 30px;
}

.feedback-card .description {
  color: #374d71;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.feedback-card .padding {
  padding: 40px 30px;
}

.feedback-card .author {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #374d71;

  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}
.feedback-card .video-frame {
  position: relative;
  width: 300px;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  padding: 0px !important;

  @media (max-width: 768px) {
    width: 260px;
    height: 407.598px;
  }
}

.feedback-card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.video-gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 74px;
  display: flex;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  pointer-events: none;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background: transparent;
  pointer-events: none;
}

.video-overlay button {
  pointer-events: auto;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #18395b;
  cursor: pointer;
  font-size: 16px;
}

.mute-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #18395b;
  cursor: pointer;
  font-size: 12px;
}

.scroll-left-button {
  background-color: #eef5fc;
  color: #18395b;
  padding: 10px;
  border-radius: 50%;
  border: none;
}

.scroll-right-button {
  background-color: #eef5fc;
  color: #18395b;
  padding: 10px;
  border-radius: 50%;
  border: none;
}

.feedback-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;

  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
}

.unit-homepage-feedback .title {
  color: #052b66;
  font-family: "Noto Serif";
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;

  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 28px;
  }
}

.scroll-buttons {
  display: flex;
  gap: 10px;

  @media (max-width: 768px) {
    display: none;
  }
}

.scroll-button {
  background: #052b66;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.feedback-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 0;
  max-width: 100vw;
}

.feedback-list .slick-list .slick-track:nth-child(1) {
  padding-left: 70px;

  @media (max-width: 768px) {
    padding-left: 20px;
  }
}

.feedback-list::-webkit-scrollbar {
  display: none;
}

.stars {
  color: gold;
}

.reviews {
  color: #829cb2;
  font-family: Inter;
  font-size: 14px;
}
