@import "./_variables.css";

.unit-homepage-hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--bg-primary);
  overflow-y: hidden;
  position: relative;
}

.unit-homepage-hero-gradient {
  position: absolute;
  left: 20%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #e8f1ff 100%);
  z-index: 20;
  height: 100%;
  width: 45%;
}

.unit-homepage-hero-overlay {
  position: absolute;
  left: 5%;
  top: 32%;
  display: flex;
  flex-direction: column;
  width: 380px;
  align-items: start;
  z-index: 100;
  gap: 16px;
}

.unit-homepage-hero-overlay .heading {
  color: var(--text-color-primary);
  font-family: var(--font-noto);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.unit-homepage-hero-overlay .description {
  color: var(--text-color-secondary);
  font-family: var(--font-inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.unit-homepage-hero-overlay .button {
  display: inline-flex;
  padding: 16px 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 64px;
  background: var(--btn-bg-primary);
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 30px;
  font-family: var(--font-futsat);
  font-weight: 700;
  cursor: pointer;
}

.unit-homepage-hero-carousel {
  width: 80%;
  height: 100%;
}

.unit-homepage-hero-carousel img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px !important;
}

.unit-homepage-hero-carousel .slick-dots {
  display: flex !important;
  flex-direction: row !important;
  position: absolute !important;
  bottom: 50px !important;
  left: -212px !important;
  z-index: 25;
  gap: 8px;
  max-width: 40px !important;
}

.slick-dots li.slick-active button:before {
  content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 10 11" fill="none"%3E%3Ccircle cx="5.00684" cy="5.77832" r="4.5" stroke="%232A5490"%2F%3E%3C%2Fsvg%3E');
}

@media (max-width: 768px) {
  .unit-homepage-hero {
    height: 620px;
    flex-direction: column;
  }

  .unit-homepage-hero-gradient {
    height: 100vw;
    width: 38%;
    transform: rotate(90deg);
    left: 31%;
    top: 2%;
  }

  .unit-homepage-hero-overlay {
    position: absolute;
    top: 40px;
    width: 100%;
    align-items: center;
    text-align: center;
    left: 0;
  }

  .unit-homepage-hero-overlay .heading {
    color: #052b66;
    text-align: center;
    font-family: "Noto Serif";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 114.286% */
    width: 295.066px;
  }

  .unit-homepage-hero-overlay .description {
    color: #374d71;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 295.066px;
  }

  .unit-homepage-hero-overlay .button {
    display: flex;
    padding: 16px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 295.066px;
  }

  .unit-homepage-hero-carousel {
    width: 100%;
    height: 385.5px;
  }
}
