@import "./_variables.css";

.unit-homepage-house-collection {
  width: 100%;
  min-height: 589px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unit-homepage-house-collection .container {
  padding: 100px 70px 90px 70px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
}

.unit-homepage-house-collection .container .title {
  color: #052b66;
  font-family: "Noto Serif";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 114.286% */
}

.unit-homepage-house-collection .container .row {
  display: flex;
  flex-direction: row;
  gap: 17.6px;
}

.unit-homepage-house-collection .container .row img {
  width: 244px;
  height: 244px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 8px;
}

.unit-homepage-house-collection .container .button {
  display: inline-flex;
  padding: 16px 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 64px;
  background: #2a5490;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 12px;
  font-family: var(--font-futsat);
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 768px) {
  .unit-homepage-house-collection .container {
    padding: 40px 0px 40px 0px;
    gap: 20px;
    width: 100%;
  }

  .unit-homepage-house-collection .container .title {
    color: #052b66;
    text-align: center;
    font-family: "Noto Serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
  }

  .unit-homepage-house-collection .container .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 14px;
    overflow-x: scroll;
  }

  .unit-homepage-house-collection .container .row img {
    width: 140px;
    height: 140px;
  }

  .unit-homepage-house-collection .container .row img:first-child {
    margin-left: 20px;
  }

  .unit-homepage-house-collection .container .row img:last-child {
    margin-right: 20px;
  }

  .unit-homepage-house-collection .container .button {
    color: #fff;
    font-family: "Fustat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.44px;
  }
}
