@import "./_variables.css";

.unit-homepage-purchase {
  position: relative;
  height: 566px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.unit-homepage-purchase img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.unit-homepage-purchase .container {
  position: absolute;
  width: 560.952px;
  height: 395.421px;
  background: rgba(255, 255, 255, 0.9);
  filter: blur(100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  left: 0;
  top: 100px;
}

.unit-homepage-purchase .section {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 405px;
  gap: 16px;
  z-index: 10;
  left: 100px;
  top: 200px;
}

.unit-homepage-purchase .section .title {
  color: #052b66;
  font-family: "Noto Serif";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
}

.unit-homepage-purchase .section .desc {
  color: #374d71;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.unit-homepage-purchase .section .button {
  display: inline-flex;
  padding: 16px 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 64px;
  background: var(--btn-bg-primary);
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 30px;
  font-family: var(--font-futsat);
  font-weight: 700;
  cursor: pointer;
  z-index: 100;
}

@media (max-width: 768px) {
  .unit-homepage-purchase {
    height: 450px;
  }

  .unit-homepage-purchase .container {
    position: absolute;
    width: 100%;
    height: 178px;
    z-index: 10;
    left: 0;
    top: 0;
  }

  .unit-homepage-purchase .section {
    align-items: center;
    width: 100%;
    gap: 16px;
    z-index: 10;
    left: 0;
    top: 40px;
  }

  .unit-homepage-purchase .section .title {
    font-size: 28px;
    line-height: 32px; /* 114.286% */
  }

  .unit-homepage-purchase .section .desc {
    font-size: 14px;
    line-height: normal;
    width: 295px;
    text-align: center;
  }

  .unit-homepage-purchase .section .button {
    max-width: 295px;
    color: #fff;
    font-family: Fustat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.44px;
  }
}
